#div_doc_input{
    float: left;
    width: 30%;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center

}
#dic_doc_control{
    margin-top: 50px;
    float: left;
    width: 30%;
    height: 250px;
    text-align: center
}
#div_doc_select{
    margin-top: 25px;
    margin-bottom: 25px;
}
#div_doc_button{
    margin-top: 25px;
    margin-bottom: 25px;
}
#div_doc_back{
    float: left;
    width: 30%;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center
}

#a_doc_download{
    display: none;
}

#text_filename{
    float: none;
}
